<template>
  <svg class="svg-bar" width="100%" :viewBox="viewBox" v-if="(max - min) > 0 ">
    <g>
      <rect :style="rectStyle" :width="rectWidth" :x="rectX" height="80%" y="10%"><title>{{ barTooltip }}</title></rect>
      <circle :cx="circleX" :r=".4*height" :style="circleStyle" cy="50%"><title>{{ circleTooltip }}</title></circle>
      <line v-if="indicatorLine !=null" :x1="lineX" :x2="lineX" stroke="red" stroke-width="2" y1="0" y2="100%"/>
    </g>
  </svg>
</template>

<script>

/** Renders an SVG bar summarizing a distribution of values
 * @vue-data {Number} width -
 * @vue-data {Number} height -
 * @vue-props {Object} value - Object with `95perc`, `avg` and `med` fields
 * @vue-props {Number} min - Scale minimum value
 * @vue-props {Number} max - Scale maximum value
 * @vue-props {Number} indicatorLine - Threshold value
 * @vue-props {String} unit - Optional unit to display on hover
 * @vue-props {String} circleColor - Hex code for the circle color
 */
export default {
  name: "AggregateBar",
  data() {
    return {
      width: 100,
      height: 10,
    }
  },
  props: ["value", "min", "max", "indicatorLine", "unit", "circleColor"],
  computed: {
    viewBox: function () {
      return `0 0 ${this.width} ${this.height}`
    },
    rectWidth: function () {
      return this.scale(this.value.perc95) - this.scale(this.value.med)
    },
    rectX: function () {
      return this.scale(this.value.med)
    },
    circleX: function () {
      return this.scale(this.value.avg)
    },
    rectStyle: function () {
      return `fill:#000000;stroke-width:0;stroke:rgb(0,0,0)`
    },
    circleStyle: function () {
      return `fill:${this.circleColor || '#ffffff'};stroke-width:1;stroke:rgb(0,0,0)`
    },
    lineX: function () {
      return this.scale(this.indicatorLine)
    },
    barTooltip: function () {
      return `median: ${Number(this.value.med).toFixed(2)}${this.unit},\
      95th: ${Number(this.value.perc95).toFixed(2)}${this.unit}`
    },
    circleTooltip: function () {
      return `average: ${Number(this.value.avg).toFixed(2)}${this.unit}`
    }
  },
  methods: {
    scale(v) {
      return (v - this.min) / (this.max - this.min) * this.width
    }
  }
}
</script>

<style scoped>
svg {
  /*padding: 0;*/
  max-height: 10px;
  /*max-width: 100px;*/
}

rect:hover {
  fill: red;
}

circle:hover {
  fill: red;
}


</style>
