.ui.compact.table {
    padding: 1em;
}

.ui.compact.table td {
    padding-top: 1px;
    padding-bottom: 1px;
}

.annotative {
    cursor: pointer;
    position: relative;
}

.annotative:hover:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid darkgray;
}

.ui.compact.table th {
    padding-bottom: .5em;
    padding-top: .5em;
}

.ui.compact.table button {
    background: none;
    padding: 1px;
}

.ui.compact.table th.meta-header {
    text-align: center;
    position: relative;
}

.ui.compact.table th.meta-header:before {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0;
    left: 10%;
    width: 90%;
    height: 1px;
}

.popover.b-popover {
    display: block;
    opacity: 1;
    outline: 0;
}

.compressed-row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-height: 10px !important;
    line-height: 5px;
}
