<template>
  <div>
    <div>
      Showing {{ visibleColumns.length }} KPIs over {{ visibleColumns.length + addableColumns.length }} available.
    </div>
    <sui-table :compact="true" basic="very" selectable @mouseout="mouseOverElement(null, null)">
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell single-line>{{ idColumn.toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="sort" @click.native="sortRowsByColumn(idColumn)"/>
            <TagFilter :tags="metaColumnFilter" style="display:table;" @toggleTag="toggleMetaColumnTags"/>
          </sui-table-header-cell>
          <sui-table-header-cell v-for="col in visibleColumns" :key="col"
                                 :title="col" class="annotative" single-line
                                 @mouseover="mouseOverElement(null, col)"
                                 @click.native.self="addAnnotation(null, col, countries[0])">
            {{ col.substring(0, 20) }}
            <sui-button circular class="header-button" fitted icon="trash" @click.native="hideColumn(col)"/>
            <sui-button circular class="header-button" fitted icon="sort" @click.native="sortRowsByColumn(col)"/>
            <AnnotationChart :horizontal="false" :keys="{column: col, country: countries[0]}"
                             :stacked="false"/>
            <DistributionHistogram v-if="distributions" :data="distributions[col]" style="display: table;"/>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="(row, index) in sortedData" :key="index">
          <sui-table-cell class="annotative" single-line
                          @mouseover="mouseOverElement(row[idColumn], null)"
                          @click.native.self="addAnnotation(row[idColumn], null, country)"
          >
            <router-link :to="'/' + dataset + '/' +  country + '/' + row[idColumn]"> {{ row[idColumn] }}</router-link>
            <TagList :tags="metaColumnTags[row[idColumn]]"
                     style="display:inline-block;"
                     @add="addTag(row[idColumn], $event)"
                     @remove="removeTag(row[idColumn], $event)"/>
            <AnnotationChart :horizontal="false" :keys="{metaColumn: row[idColumn], country: country}"
                             :stacked="false"/>
          </sui-table-cell>
          <sui-table-cell v-for="col in visibleColumns" :key="col"
                          class="annotative" single-line
                          :state="compareToThreshold(row, col).adequacy==='error' ? 'error' : null"
                          :warning="compareToThreshold(row, col).adequacy === 'warn'"
                          @mouseover="mouseOverElement(row[idColumn], col)"
                          @click.native.self="addAnnotation(row[idColumn], col, countries[0])">
            <AggregateBar v-if="row[col]"
                          :value="row[col]"
                          :indicator-line="compareToThreshold(row, col).threshold"
                          :unit="config.unit[col] || ''"
                          :min="columnRanges[col].min"
                          :max="columnRanges[col].max"
                          style="max-width: 100px;"/>
            <AnnotationChart :horizontal="false" :keys="{metaColumn: row[idColumn], column: col, country : country}"
                             :stacked="false"/>
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
    <sui-dropdown floating labeled button selection
                  class="icon"
                  icon="plus"
                  text="Add column"
                  :options="addableColumns"
                  :search-in-menu="addDropDown.searchInMenu"
                  :menu-header="addDropDown.menuHeader"
                  @click.native="addColumn"
    >
    </sui-dropdown>
  </div>
</template>

<script>
import AggregateBar from "@/components/charts/AggregateBar"
import DistributionHistogram from "@/components/charts/DistributionHistogram"
import AnnotationChart from "@/components/AnnotationChart"
import TagFilter from "@/components/TagFilter"
import TagList from "@/components/TagList"
import {compareThreshold, sortCountryData as sortData} from "@/util"
import {annotationMixin, distributionMixin, editColumnsMixin, sortColumnsMixin, tagMixin} from "@/mixins/table"


/** Renders a table for a single country, with meta-columns in rows and statistic bars in cells
 * @vue-props {Array} data - Table data, each row values contains an object with avg, med, min, etc keys
 * @vue-props {Array} displayColumns - Displayed columns in parent view
 * @vue-props {Object} columnRanges - Min and max array for every data column
 * @vue-props {Object} config - Dataset config file (following the format of `config.template.json`
 * @vue-data {Object} distributions - Precomputed arrays for distribution plots indexd by columns
 * @vue-data {Array} visibleColumns - Filter for table columns
 * @vue-data {String} sortRowsBy - Sorting column
 * @vue-data {String} columnToAdd - Temporary variable for column selected in drop-down
 * @vue-data {Object} addDropDown - Supporting data for column addition drop-down
 **/
export default {
  name: "CountryTable",
  components: {
    AggregateBar,
    DistributionHistogram,
    TagFilter,
    TagList,
    AnnotationChart
  },
  mixins: [tagMixin, editColumnsMixin, annotationMixin, distributionMixin, sortColumnsMixin],
  props: ["data", "displayColumns", "columnRanges", "config", "idColumn"],
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    nbBins() {
      return this.config.nbBins
    },
    columns: function () {
      if (!(this.data) || this.data.length === 0) return []
      return Object.keys(this.data[0]).filter(c => c !== this.idColumn)
    },
    metaColumns: function () {
      return this.data.map(r => r[this.idColumn])
    },
    country: function () {
      return this.$route.params.country
    },
    countries: function () {
      return [this.$route.params.country]
    },
    sortedData: function () {
      // Filter rows with tags
      const filteredRows = [...this.data].filter(row => this.shouldBeDisplayed(row[this.idColumn]))
      if (this.sortRowsBy) {
        return sortData(filteredRows, this.sortRowsBy, this.reverse)
      } else {
        return filteredRows
      }
    }
  },
  methods: {
    compareToThreshold: function (row, col) {
      return compareThreshold(this.config, col, this.country, row[col].avg)
    },
    mouseOverElement(row, col) {
      this.$emit('mouseOverElement', {row, col})
    }
  },
  created() {
    this.initTags(Object.values(this.config.metaColumnTags).flat(1))
  }
}
</script>

<style scoped>

</style>
