<template>
  <div>
    Showing at most {{ maxVisibleMetaColumns }} plans sorted by
    <sui-dropdown
        selection
        search
        style="max-width:90%;"
        placeholder="Select focus"
        :options="sortOptions"
        v-model="sortMetaColumnsBy"
    />
    filtering by tags:
    <TagFilter :tags="metaColumnFilter" @toggleTag="toggleMetaColumnTags"/>
    <sui-table :compact="true" basic="very" selectable unstackable
               @mouseout="mouseOverElement(null, null, null)">
      <sui-table-header>
        <sui-table-row celled>
          <sui-table-header-cell single-line>

          </sui-table-header-cell>
          <sui-table-header-cell v-for="metaCol in visibleMetaColumns"
                                 :key="metaCol" :colspan="columns.length"
                                 class="meta-header annotative"
                                 @mouseover="mouseOverElement(null, metaCol, null)"
                                 @click.native.self="addAnnotation(metaCol)">
            {{ metaCol }}
            <sui-icon class="grey" name="map" title="Show map"></sui-icon>
            <AnnotationChart :horizontal="true"
                             :keys="{metaColumn : metaCol}"
                             :stacked="false"/>
            <TagList :tags="metaColumnTags[metaCol]"
                     @add="addTag(metaCol, $event)"
                     @remove="removeTag(metaCol, $event)"/>
          </sui-table-header-cell>
        </sui-table-row>
        <sui-table-row>
          <sui-table-header-cell single-line>{{ idColumn.toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="sort" @click.native="sortRowsByColumn(idColumn)"/>
          </sui-table-header-cell>
          <sui-table-header-cell v-for="(e, idx) in groupedColumnsByMeta" :key="idx"
                                 :title="e.col"
                                 class="annotative"
                                 single-line
                                 @mouseover="mouseOverElement(e.col, e.metaCol, null)"
                                 @click.native.self="addAnnotation(e.metaCol, e.col)">
            {{ e.col.substring(0, 20) }}
            <sui-button circular class="header-button" fitted icon="sort" @click.native="sortRowsByColumn(e)"/>
            <sui-icon class="grey" name="map" title="Show map"></sui-icon>
            <AnnotationChart :horizontal="false"
                             :keys="{metaColumn: e.metaCol, column : e.col}"
                             :stacked="false"/>
            <DistributionHistogram v-if="distributions"
                                   style="display: table;"
                                   :data="distributions[e.metaCol][e.col]"/>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="(row, index) in sortedData" :key="index">
          <sui-table-cell class="annotative" single-line
                          @mouseover="mouseOverElement(null, null, row[idColumn])"
                          @click.native.self="addAnnotation(null, null, row[idColumn])">
            <router-link :to="'/' + $route.params.dataset + '/' + row[idColumn]"> {{ row[idColumn] }}</router-link>
            <AnnotationChart :horizontal="true"
                             :keys="{ country: row[idColumn]}"
                             :stacked="false"/>
          </sui-table-cell>
          <sui-table-cell v-for="(e, idx) in groupedColumnsByMeta"
                          :state="getAdequacy(row, e.col, e.metaCol).adequacy === 'error' ? 'error' : null"
                          :warning="getAdequacy(row, e.col, e.metaCol).adequacy === 'warn'"
                          class="annotative"
                          single-line
                          :key="idx"
                          @mouseover="mouseOverElement(e.col, e.metaCol, row[idColumn])"
                          @click.native.self="addAnnotation(e.metaCol,  e.col, row[idColumn])">
            <AggregateBar v-if="row[e.metaCol]"
                          :value="row[e.metaCol][e.col]"
                          :indicator-line="getAdequacy(row, e.col, e.metaCol).threshold"
                          :max="columnRanges[e.metaCol][e.col].max" :min="columnRanges[e.metaCol][e.col].min"
                          :unit="config.unit[e.col] || ''"
                          style="max-width: 100px;margin:0;"/>
            <AnnotationChart :horizontal="false"
                             :keys="{metaColumn: e.metaCol, column:e.col, country: row[idColumn]}"
                             :stacked="false"
            />
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
  </div>
</template>

<script>
import AggregateBar from "@/components/charts/AggregateBar"
import DistributionHistogram from "@/components/charts/DistributionHistogram"
import AnnotationChart from "@/components/AnnotationChart"
import TagFilter from "@/components/TagFilter"
import TagList from "@/components/TagList"
import {compareThreshold, sortCountryData as sortData} from "@/util"
import {annotationMixin, distributionMixin, sortColumnsMixin, tagMixin} from "@/mixins/table"

const ALPHABETICAL_SORT = "alphabetical"

/** Renders a table for all countries as rows, columns grouped by meta-columns, and statistic bars in cells
 * @vue-props {Array} data - Table data, each row values contains an object with avg, med, min, etc keys
 * @vue-props {Array} displayColumns - Displayed columns in parent view
 * @vue-props {Object} config - Dataset config file (following the format of `config.template.json`
 * @vue-props {Object} columnRanges - Min and max for every data column for every meta-column
 * @vue-data {Object} distributions - Precomputed arrays for distribution plots indexd by columns
 * @vue-data {String} sortRowsBy - Sorting column
 * @vue-data {String} sortMetaColumnsBy - Sorting column for meta-columns
 * @vue-event {Object} mouseOverElement - Element under mouse cursor (col, metaCol, row)
 **/
export default {
  name: "OverviewTable",
  components: {
    AnnotationChart,
    TagFilter,
    TagList,
    DistributionHistogram,
    AggregateBar
  },
  mixins: [tagMixin, annotationMixin, distributionMixin, sortColumnsMixin],
  data() {
    return {
      sortMetaColumnsBy: ALPHABETICAL_SORT,
      maxVisibleMetaColumns: 2,
    }
  },
  props: ["data", "displayColumns", "config", "columnRanges", "idColumn"],
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    nbBins() {
      return this.config.nbBins
    },
    countries() {
      return this.data.map(row => row[this.idColumn])
    },
    columns: function () {
      return this.displayColumns
    },
    metaColumns: function () {
      return Object.keys(this.data[0]).filter(c => c !== this.idColumn)
    },
    sortedMetaColumns: function () {
      // TODO: Factorize into SQL-based service
      if (this.data && this.data.length === 0) return []
      // Filter metaColumns by tags
      let metaCols = this.metaColumns.filter(this.shouldBeDisplayed)
      // Sort them
      if (this.sortMetaColumnsBy === ALPHABETICAL_SORT)
        metaCols.sort()
      else {
        // Sort metaColumn by column, using the average of country averages or of country medians
        const aggOp = this.config["columnSortBy"] && this.config["columnSortBy"] === "avg" ? "avg" : "med"
        metaCols = this.data
            // Sum aggregates
            .reduce((sums, row) => {
              return metaCols.map((mc, idx) => row[mc][this.sortMetaColumnsBy][aggOp] + sums[idx])
            }, Array(metaCols.length).fill(0))
            // Average aggregates
            .map((sumAgg, i) => {
              return {id: metaCols[i], value: sumAgg / this.data.length}
            })
            // Sort aggregates
            .sort((a, b) => {
              const sortDescending =
                  this.config["columnBest"] &&
                  this.config["columnBest"][this.sortMetaColumnsBy] === "maximum"
              return sortDescending ? b.value - a.value : a.value - b.value
            })
            .map(e => e.id)
      }
      return metaCols
    },
    sortOptions: function () {
      return this.columns.concat(ALPHABETICAL_SORT).map((c) => {
        return {key: c, value: c, text: c}
      })
    },
    visibleMetaColumns: function () {
      return this.sortedMetaColumns.slice(0, this.maxVisibleMetaColumns)
    },
    groupedColumnsByMeta: function () {
      let res = []
      for (const metaCol of this.visibleMetaColumns)
        for (const col of this.columns)
          res.push({col, metaCol})
      return res
    },
    sortedData: function () {
      if (this.data && this.data.length === 0) return []
      if (this.sortRowsBy) {
        return sortData([...this.data], this.sortRowsBy, this.reverse)
      } else {
        return this.data
      }
    }
  },
  created() {
    this.initTags(Object.values(this.config.metaColumnTags).flat(1)) // Replace with database storage
  },
  methods: {
    getAdequacy: function (row, col, metaCol) {
      return compareThreshold(this.config, col, row[this.idColumn], row[metaCol][col].avg)
    },
    mouseOverElement(col, metaCol, row) {
      this.$emit('mouseOverElement', {col, metaCol, row})
    }
  }
}

</script>

<style>

</style>
