<template>
  <div>
    <div>
      <sui-dropdown :menu-header="addDropDown.menuHeader" :options="addableColumns"
                    :search-in-menu="addDropDown.searchInMenu"
                    button class="icon" icon="plus"
                    labeled
                    selection
                    text="Add column"
                    @click.native="addColumn"/>
      <sui-checkbox v-model="compressRows" label="Compress rows" toggle/>
    </div>
    <sui-table :compact="true" basic="very" selectable @mouseout="mouseOverElement(null, null)">
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell single-line>{{ idColumn.toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="sort"
                        @click.native="sortRowsByColumn(idColumn)"/>
            <sui-input v-model="filterInput" fluid icon="search" placeholder="Filter..."
                       size="mini"
                       @input="updateRowFilter"/>
          </sui-table-header-cell>
          <sui-table-header-cell v-for="col in visibleColumns" :key="col"
                                 :title="col" class="annotative"
                                 single-line
                                 @click.native.self="addAnnotation(metaColumns[0], col, countries[0])">
            {{ col.substring(0, 20).toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="trash"
                        @click.native="hideColumn(col)"/>
            <sui-button circular class="header-button" fitted icon="sort"
                        @click.native="sortRowsByColumn(col)"/>
            <AnnotationChart :horizontal="false"
                             :keys="{ metaColumn: metaColumns[0], column: col, country: countries[0]}"
                             :stacked="false"/>
            <DistributionHistogram v-if="distributions" :data="distributions[col]"
                                   style="display: table; width: 100px;"/>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="(row, index) in pageData"
                       :key="index"
                       :class="{'compressed-row': compressRows}">
          <sui-table-cell :class="{'compressed-row': compressRows}" single-line> {{
              row[idColumn]
            }}
          </sui-table-cell>
          <sui-table-cell v-for="col in visibleColumns"
                          :key="col" single-line
                          :class="{'compressed-row': compressRows}"
                          @mouseover="mouseOverElement(row[idColumn], col)">
            <SimpleBar :color="compareToThreshold(row[col], col).adequacy === 'error' ? 'red' : 'black'"
                       :indicator-line="compareToThreshold(row[col], col).threshold"
                       :max="columnRanges[col].max"
                       :min="columnRanges[col].min"
                       :value="row[col]"
                       style="display: table; width: 100px;"/>
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
      <sui-table-footer>
        <sui-table-row>
          <sui-table-header-cell colspan="3">
            <sui-menu pagination>
              <sui-menu-item :disabled="currentPage === 1" icon
                             link
                             @click.native="gotToPage(currentPage-1)">
                <sui-icon name="left chevron"/>
              </sui-menu-item>
              <sui-menu-item v-for="(p,i) of pageButtons" link
                             :key="i" :active="p === currentPage"
                             @click.native="gotToPage(p)"> {{ p }}
              </sui-menu-item>
              <sui-menu-item :disabled="currentPage === nbPages" icon
                             link
                             @click.native="gotToPage(currentPage+1)">
                <sui-icon name="right chevron"/>
              </sui-menu-item>
            </sui-menu>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-footer>
    </sui-table>
  </div>
</template>

<script>
import SimpleBar from "@/components/charts/SimpleBar"
import DistributionHistogram from "@/components/charts/DistributionHistogram"
import AnnotationChart from "@/components/AnnotationChart"
import {compareThreshold} from "@/util"
import {annotationMixin, distributionMixin, editColumnsMixin, sortColumnsMixin} from "@/mixins/table"
import * as _ from "lodash"

export default {
  name: "ScenarioTable",
  components: {
    SimpleBar,
    DistributionHistogram,
    AnnotationChart
  },
  mixins: [editColumnsMixin, annotationMixin, distributionMixin, sortColumnsMixin],
  data() {
    return {
      compressRows: false,
      currentPage: 1,
      filterInput: "", // Contains input content
      rowFilter: "", // Actual filter value used (copied from filterInput)
    }
  },
  props: ["data", "displayColumns", "config", "idColumn"],
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    nbBins() {
      if (this.config)
        return this.config.nbBins
      return 10
    },
    pageSize() {
      // Compute from window size
      return this.compressRows ? 100 : 40
    },
    metaColumns: function () {
      return [this.$route.params.plan]
    },
    countries: function () {
      return [this.$route.params.country]
    },
    columns: function () {
      if (!(this.data) || this.data.length === 0) return []
      return Object.keys(this.data[0]).filter(c => c !== this.idColumn)
    },
    sortedData: function () {
      let data = this.data
      if (this.rowFilter.length > 0) {
        data = _.filter(data, (e) => e[this.idColumn].includes(this.rowFilter),)
      }
      if (this.sortRowsBy) {
        return _.orderBy(data, this.sortRowsBy, this.reverse ? 'desc' : 'asc')
      } else {
        return data
      }
    },
    pageData: function () {
      return this.sortedData.slice(
          Math.max(0, (this.currentPage - 1) * this.pageSize),
          Math.min((this.currentPage) * this.pageSize, this.sortedData.length)
      )
    },
    nbPages: function () {
      return Math.ceil(this.sortedData.length / this.pageSize)
    },
    pageButtons: function () {
      return [...Array(5).keys()]
          .map((v, i) => Math.min(Math.max(1, this.currentPage - 3) + i, this.nbPages))
    },
    columnRanges: function () {
      let ranges = {}
      this.columns.map(function (c) {
        ranges[c] = {min: 0, max: 0}
      })
      this.data.forEach((row) => {
        this.columns.forEach((col) => {
          ranges[col].min = Math.min(row[col], ranges[col].min)
          ranges[col].max = Math.max(row[col], ranges[col].max)
        })
      })
      return ranges
    }
  },
  methods: {
    gotToPage(page) {
      this.currentPage = page
    },
    updateRowFilter() {
      _.debounce(() => {
        this.rowFilter = this.filterInput
      }, 1000)()
    },
    compareToThreshold: function (value, col) {
      return compareThreshold(this.config, col, this.$route.params.country, value)
    },
    mouseOverElement(row, col) {
      this.$emit('mouseOverElement', {row, col})
    },
  }
}
</script>

<style scoped>

</style>
