<template>
  <div id="app" @keydown.esc="toggleModal(null)">
    <sui-menu attached="top">
      <sui-menu-item>
        <sui-breadcrumb>
          <router-link :to="datasetRoute" class="section">
            {{ $route.params.dataset }}
          </router-link>
          <sui-divider>/</sui-divider>
          <router-link v-if="$route.params.country" :to="countryRoute" class="section">
            {{ $route.params.country }}
          </router-link>
          <sui-divider v-if="$route.params.country">/</sui-divider>
          <router-link v-if="$route.params.plan" :to="planRoute" class="section">
            {{ $route.params.plan }}
          </router-link>
        </sui-breadcrumb>
      </sui-menu-item>
      <sui-menu-item>
        <sui-button icon="pencil" @click.native="showAnnotationModal({})">Annotate</sui-button>
      </sui-menu-item>
      <sui-menu-menu position="right">
        <sui-menu-item>
          <sui-button basic @click.native="toggleModal('Settings')" icon="cogs">Settings</sui-button>
        </sui-menu-item>
        <sui-menu-item>
          <sui-button basic @click.native="toggleModal('Help')" icon="question">Help</sui-button>
        </sui-menu-item>
      </sui-menu-menu>

    </sui-menu>
    <sui-container fluid style="padding: 1em;">
      <!-- Routes get rendered here -->
      <router-view></router-view>
    </sui-container>

    <sui-segment inverted style="position: fixed; bottom: 0; width:100%;" vertical>
      <sui-container>
        {{ version }} — Cribble — <a :href="linkToDocs">Dev documentation</a>
      </sui-container>
    </sui-segment>
    <sui-modal tabindex="0" v-model="modalOpen">
      <sui-modal-header>{{ modalContent }}</sui-modal-header>
      <sui-modal-content scrolling>
        <HelpPage v-if="modalContent === 'Help'"/>
        <SettingsMenu v-if="modalContent === 'Settings'" :config="config"/>
        <NewAnnotationModal v-if="modalContent === 'Annotate'"
                            :source="annotationSource"
                            @closeModal="toggleModal(null)"/>
      </sui-modal-content>
    </sui-modal>
  </div>
</template>

<script>
import HelpPage from "@/components/HelpPage"
import SettingsMenu from "@/components/SettingsMenu"
import NewAnnotationModal from "@/components/NewAnnotationModal"

/** Main component for a dataset, containing DatasetOverview, CountryOverview or ScenarioOverview depending on the current path
 * @vue-data {String} modalContent - Either 'Help' of 'Settings' depending on the modal to display
 * @vue-data {Boolean} modalOpen - Flag is the modal (Help or Settings view) is open
 * @vue-data {Object} config - Content of config file for the current dataset
 * @vue-computed {String} version - Date of the last git commit
 * @vue-computed {String} datasetRoute - Link to the current dataset overview
 * @vue-computed {String} countryRoute - Link to the current country view
 * @vue-computed {String} planRoute - Link to the current scenario view (country + plan) view
 */
export default {
  name: 'App',
  components: {SettingsMenu, HelpPage, NewAnnotationModal},
  data() {
    return {
      modalContent: null,
      modalOpen: false,
      config: null,
      annotationSource: {},
      eventEnable: false
    }
  },
  created: function () {
    fetch(this.pathToConfig)
        .then((response) => response.json())
        .then((config) => {
          this.config = config
        })
    this.addAnnotateEventListener()
  },
  beforeDestroy: function () {
    this.addAnnotateEventListener()
  },
  methods: {
    showAnnotationModal(source) {
      this.annotationSource = source
      this.modalContent = 'Annotate'
      this.modalOpen = true
    },
    toggleModal(modalName) {
      if (modalName) {
        this.modalContent = modalName
        this.modalOpen = true
      } else {
        this.modalOpen = false
      }
    },
    addAnnotateEventListener: function () {
      this.$root.$on('annotate', (source) => {
        this.showAnnotationModal(source)
      })
      this.eventEnable = true
    },
  },
  computed: {
    pathToConfig: function () {
      return `data/${this.$route.params.dataset}/config.json`
    },
    version: function () {
      return `Last update: ${process.env.LASTCOMMITDATETIME}`
    },
    datasetRoute: function () {
      return `/${this.$route.params.dataset}`
    },
    countryRoute: function () {
      return `/${this.$route.params.dataset}/${this.$route.params.country}`
    },
    planRoute: function () {
      return `/${this.$route.params.dataset}/${this.$route.params.country}/${this.$route.params.plan}`
    },
    linkToDocs: function () {
      return "docs/"
    }
  }
}
</script>

<style>
#app {
}


</style>
