<template>
  <div style="max-width:1em; max-height:1em;display:inline-block; margin-left:2px;">
    <svg :id="svgId" :hidden="!active" :viewBox="viewBox" width="100%">
      <g>
        <rect v-for="rect in rectangles" :key="rect.color"
              :fill="rect.color" :height="rect.height" :width="rect.width" :x="rect.x" :y="rect.y"/>
      </g>
    </svg>
    <BPopover ref="popover" :disabled="!active" :target="svgId" placement="auto" triggers="hover">
      <sui-grid v-if="active" centered>
        <sui-grid-row v-for="(key, i) in levels" :key="i" :columns="1">
          <sui-grid-column v-for="(ann, j) in values[key]" :key="j">
            <AnnotationCard :annotation="ann"/>
          </sui-grid-column>
        </sui-grid-row>
      </sui-grid>
    </BPopover>
    <sui-loader :active="!this.values" inline size="tiny"/>
  </div>
</template>

<script>
import {BPopover} from 'bootstrap-vue' // Used for Popovers due to bug in Semantic Vue Popup
import '@/assets/bpopover.scss'
import AnnotationCard from "@/components/AnnotationCard"
import * as _ from "lodash"
import {Annotation, AnnotationProvider} from "@/db"
import {useObservable} from "@vueuse/rxjs/index"
import {liveQuery} from "dexie"


/** Renders an annotation chart (bar chart with counts for each annotation level) with a popup on
 * hover showing annotation details.
 * @vue-props {Object} keys - Object with index key for Annotations to query
 * @vue-props {Boolean} stacked - Stacked or juxtaposed bars
 * @vue-props {Boolean} horizontal - Vertical or horizontal
 * @vue-data {Object} values - Annotation arrays grouped by level
 **/
export default {
  name: "AnnotationChart",
  components: {AnnotationCard, BPopover},
  setup(props) {
    return {
      loading: false,
      values: useObservable(
          liveQuery(() => AnnotationProvider.queryGroupByLevel(props.keys))
      ),
    }
  },
  props: ["keys", "stacked", "horizontal"],
  computed: {
    active() {
      return !this.loading && this.rectangles.length > 0
    },
    levels() {
      return Object.keys(this.values).filter(level => this.values[level].length > 0)
    },
    svgId() {
      return "bars" + this._uid
    },
    viewBox() {
      if (this.stacked && this.horizontal)
        return "0 0 100 5"
      if (this.stacked && !this.horizontal)
        return "0 0 5 50"
      return "0 0 100 100"
    },
    rectangles() {
      if (this.values && Object.values(this.values).flat(1).length > 0) {
        let rects = []
        const lengths = Object.keys(this.values).map(key => this.values[key].length)
        if (this.stacked) {
          Object.keys(this.values).forEach((key, i) => {
            const pos = _.sum(lengths.slice(0, i)) / _.sum(lengths) * 100
            const thickness = "100%"
            const length = this.values[key].length / _.sum(lengths) * 100 || 0
            rects.push({
              x: (this.horizontal) ? pos : 0,
              y: (this.horizontal) ? 0 : pos,
              color: Annotation.LEVELS[key],
              width: (this.horizontal) ? length : thickness,
              height: (this.horizontal) ? thickness : length,
              name: key
            })
          })
        } else {
          Object.keys(this.values).forEach((key, i) => {
            const pos = i / Object.keys(this.values).length * 100
            const thickness = 1 / Object.keys(this.values).length * 100
            const length = this.values[key].length / _.max(lengths) * 100 || 0
            rects.push({
              x: (this.horizontal) ? 0 : pos,
              y: (this.horizontal) ? pos : 100 - length,
              color: Annotation.LEVELS[key],
              width: (this.horizontal) ? length : thickness,
              height: (this.horizontal) ? thickness : length,
              name: key
            })
          })
        }
        return rects
      }
      return []
    }
  },
  watch: {
    keys: {
      deep: true,
      handler(newValue) {
        this.loading = true
        AnnotationProvider.queryGroupByLevel(newValue).then(res => {
          this.values = res
          this.loading = false
        })
      }
    }
  }
}
</script>

<style scoped>

svg {
  cursor: context-menu;
}

svg:hover {
  border: solid gray 1px;
}
</style>
