<template>
  <sui-container fluid>
    <sui-dimmer :active="loading">
      <sui-loader :active="loading" size="massive" centered inline/>
    </sui-dimmer>
    <sui-grid :doubling="true" centered>
      <sui-grid-column :width="16">
        <CountryTable v-if="config"
                      :data="tableData"
                      :config="config"
                      :display-columns="displayedColumns"
                      id-column="Plan"
                      :column-ranges="columnRanges"
                      @mouseOverElement="setFocus"/>
      </sui-grid-column>
      <sui-grid-column :width="16">
        <AggregateParallelCoordinates
            v-if="config"
            :data="tableData"
            :display-columns="displayedColumns"
            :selected="focusElement.row"
            id-column="Plan"
            style="width:100%;"/>
      </sui-grid-column>
    </sui-grid>
  </sui-container>
</template>

<script>
import CountryTable from "@/components/tables/CountryTable"
import AggregateParallelCoordinates from "@/components/charts/AggregateParallelCoordinates"
import {compareThreshold, DatasetProvider} from "@/util"

/** Renders multiple views at the country level with a table and a parallel coordinate plot
 * @vue-data {Array} tableData - Table data, each row values contains an object with avg, med, min, etc keys
 * @vue-data {Array} displayedColumns - Displayed columns in all children views
 * @vue-data {Boolean} loading - Flag to display the loading spinner
 * @vue-data {Object} focusElement - Describing the cell under the mouse pointer
 * @vue-data {Array} columnRanges -  Min and max array for every data column
 * @vue-data {Object} config - Dataset config file (following the format of `config.template.json`
 **/
export default {
  name: "CountryOverview",
  components: {
    AggregateParallelCoordinates,
    CountryTable,
  },
  data() {
    return {
      tableData: [],
      displayedColumns: [],
      loading: false,
      focusElement: {row: null, col: null},
      columnRanges: null,
      config: null
    }
  },
  created() {
    this.loading = true
    DatasetProvider.getCountryData(this.$route.params.dataset, this.$route.params.country)
        .then(([config, data, ranges]) => {
          this.config = config
          this.columnRanges = ranges
          this.tableData = data
          this.loading = false
          // Set displayed columns
          if (this.$route.query.visibleColumns)
            this.displayedColumns = this.$route.query.visibleColumns.split(',')
          else
            this.displayedColumns = this.config.selectedColumns.slice(0, 5)
        })
        .catch(console.error)
  },
  methods: {
    setFocus(element) {
      if (this.focusElement !== element) {
        this.focusElement = element
      }
    },
    compareToThreshold(row, col) {
      return compareThreshold(
          this.config,
          col,
          this.$route.params.country,
          row[col].avg)
    }
  }
}
</script>

<style scoped>

</style>
