<template>
  <div>
    <sui-dimmer :active="loading">
      <sui-loader :active="loading" size="massive" centered inline/>
    </sui-dimmer>
    <sui-grid :doubling="true" centered>
      <sui-grid-column :width="12">
        <DatasetTable v-if="config"
                      :column-ranges="columnRanges"
                      :config="config"
                      :data="tableData"
                      :display-columns="selectedColumns"
                      id-column="Country"
                      @mouseOverElement="setFocus"
        />
      </sui-grid-column>
      <sui-grid-column :width="4">
        <sui-card fluid>
          <sui-card-content v-if="focusedMapCols.length === 0">
            <sui-header size="tiny">Map</sui-header>
            <ChoroplethMap v-if="config"
                           :data="defaultMapData"
                           :domain="mapCategories"
                           :selected="focusElement.row"/>
          </sui-card-content>
          <sui-card-content v-for="col of focusedMapCols" :key="col">
            <sui-header size="tiny">Scenario average for {{ focusElement.metaCol }}/{{ col }}</sui-header>
            <ChoroplethMap v-if="config"
                           :data="focusElement.metaCol ? mapData[focusElement.metaCol][col] : defaultMapData"
                           :selected="focusElement.row"
                           :domain="mapCategories"/>
          </sui-card-content>
        </sui-card>
      </sui-grid-column>
    </sui-grid>
  </div>
</template>

<script>
import DatasetTable from "@/components/tables/DatasetTable"
import ChoroplethMap from "@/components/charts/ChoroplethMap"
import {compareThreshold, DatasetProvider} from "@/util"

/** Top-level page showing the overview of an entire datasets with a sortable table view and dynamic map view
 * @vue-data {Object} tableData - Overview data
 * @vue-data {Array} selectedColumns - List of data columns to show for each meta-column (plan)
 * @vue-data {Boolean} loading - Flag for the loading dimmer
 * @vue-data {Object} focusElement - Describe the element under the current cursor location
 * @vue-data {Object} mapData - Precomputed data for the map view, on focus (for each meta-column and column)
 * @vue-data {Object} mapData - Precomputed data for the default map view (no focus)
 */
export default {
  name: "DatasetOverview",
  components: {
    ChoroplethMap,
    DatasetTable
  },
  data() {
    return {
      tableData: [],
      selectedColumns: [],
      loading: false,
      focusElement: {row: null, col: null, metaCol: null},
      mapData: null,
      defaultMapData: null,
      config: null,
      columnRanges: null,
    }
  },
  created() {
    this.loading = true
    DatasetProvider.getDatasetData(this.$route.params.dataset)
        .then(([config, data, ranges]) => {
          this.config = config
          this.tableData = data
          this.selectedColumns = config.selectedColumns.slice(0, 3)
          this.columnRanges = ranges
          this.loading = false
          this.precomputeMapData(data, config)
        })
        .catch(console.error)
  },
  computed: {
    mapCategories() {
      return this.config.mapLabels
    },
    focusedMapCols: function () {
      if (!this.focusElement.row && !this.focusElement.col && this.focusElement.metaCol) {
        return this.selectedColumns
      } else if (this.focusElement.col) {
        return [this.focusElement.col]
      }
      return []
    }
  },
  methods: {
    setFocus(element) {
      if (this.focusElement !== element) {
        this.focusElement = element
      }
    },
    precomputeMapData(data, config) {
      let mapData = {} // Indexed by metaCol and col
      data.forEach(countryRow => {
        const metaCols = Object.keys(countryRow).filter(v => v !== "Country")
        const cols = Object.keys(countryRow[metaCols[0]]).filter(v => v !== "Country" && v !== "Plan")
        metaCols.forEach(metaCol => {
          if (!(metaCol in mapData))
            mapData[metaCol] = {}
          cols.forEach(col => {
            if (!(col in mapData[metaCol]))
              mapData[metaCol][col] = data.map(row => {
                const value = row[metaCol][col].avg
                const adequacy = compareThreshold(config, col, row['Country'], value).adequacy
                return {id: row['Country'], value, adequacy}
              })
          })
        })
      })
      this.mapData = mapData
      this.defaultMapData = data.map(row => {
        return {id: row["Country"], value: -1, adequacy: config.mapLabels[2]}
      })
    }
  }
}

</script>

<style scoped>

.column {
  overflow: scroll;
}
</style>
