<template>
  <sui-container fluid>
    <sui-dimmer :active="loading">
      <sui-loader :active="loading" size="massive" centered inline/>
    </sui-dimmer>

    <sui-tab :active-index="activeTabIndex" @change="handleTabChange">
      <sui-tab-pane v-for="tab in tabs" :key="tab.title" :title="tab.title">
        <sui-grid :doubling="true" centered>
          <sui-grid-column :width="8">
            <ScenarioTable v-if="tab.title === 'No groups'"
                           :display-columns="displayedColumns"
                           :config="config"
                           :data="tableData"
                           id-column="Scenario"
                           @mouseOverElement="setFocus"/>
            <GroupedScenarioTable v-else
                                  :data="groupedData[tab.groupBy]"
                                  :config="config"
                                  :display-columns="displayedColumns"
                                  id-column="Scenario Group"
                                  @mouseOverElement="setFocus"/>
          </sui-grid-column>
          <sui-grid-column :width="8">
            <ParallelCoordinates v-if="tab.title === 'No groups'"
                                 :data="tableData"
                                 :display-columns="displayedColumns"
                                 :selected="focusElement.row"
                                 id-column="Scenario"
                                 style="width:100%;"/>
            <AggregateParallelCoordinates v-else
                                          :data="groupedData[tab.groupBy]"
                                          :display-columns="displayedColumns"
                                          :selected="focusElement.row"
                                          id-column="Scenario Group"
                                          style="width:100%;"/>

          </sui-grid-column>
        </sui-grid>
      </sui-tab-pane>
    </sui-tab>
  </sui-container>
</template>

<script>
import ParallelCoordinates from "@/components/charts/ParallelCoordinates"
import ScenarioTable from "@/components/tables/ScenarioTable"
import GroupedScenarioTable from "@/components/tables/GroupedScenarioTable"
import {DatasetProvider} from "@/util"
import AggregateParallelCoordinates from "@/components/charts/AggregateParallelCoordinates";

/** Renders multiple views at the country+plan level with a table and a parallel coordinate plot
 * @vue-data {Array} tableData - Table data, each row values contains an object with avg, med, min, etc keys
 * @vue-data {Array} displayedColumns - Displayed columns in all children views
 * @vue-data {Boolean} loading - Flag to display the loading spinner
 * @vue-data {Object} focusElement - Describing the cell under the mouse pointer
 * @vue-data {Array} columnRanges -  Min and max array for every data column
 * @vue-data {Object} config - Dataset config file (following the format of `config.template.json`
 **/
export default {
  name: "ScenarioOverview",
  components: {
    AggregateParallelCoordinates,
    ScenarioTable,
    GroupedScenarioTable,
    ParallelCoordinates
  },
  data() {
    return {
      activeTabIndex: null,
      tableData: [],
      displayedColumns: [],
      loading: false,
      focusElement: {row: null, col: null},
      config: null,
      tabs: [
        {title: "No groups", groupBy: null},
        {title: "Group by failing criteria", groupBy: "Fail"},
        {title: "Group by year", groupBy: "Year"},
      ]
    }
  },
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    country() {
      return this.$route.params.country
    },
    groupedData: function () {
      if (!this.config) return {}
      return DatasetProvider.groupedScenarioData(
          this.config, this.tableData, this.country, "Scenario Group", "Scenario")
    }
  },
  created() {
    this.loading = true
    DatasetProvider.getScenarioData(this.dataset, this.country, this.$route.params.plan)
        .then(([config, data]) => {
          this.config = config
          this.tableData = data
          this.loading = false
          // Set displayed columns
          if (this.$route.query.visibleColumns)
            this.displayedColumns = this.$route.query.visibleColumns.split(',')
          else
            this.displayedColumns = this.config.selectedColumns.slice(0, 5)
        })
        .catch(console.error)
    // Set tab based on query parameter
    if (this.$route.query.tab)
      this.activateTab(0)
    else
      this.activateTab(this.$route.query.tab)

  },
  methods: {
    setFocus(element) {
      if (this.focusElement !== element) {
        this.focusElement = element
      }
    },
    activateTab(index) {
      this.activeTabIndex = +index;
    },
    handleTabChange(e, activePane, index) {
      const query = {...this.$route.query, tab: index}
      this.$router.push({query}).catch(() => {
      }) // TODO: Fix tab change
    }
  }
}
</script>

<style scoped>

</style>
