<template>
  <div class="pill-list">
    <sui-button basic toggle size="mini" circular class="pill"
                v-for="(tag, idx) in tags" :key="idx"
                :active="tag.isActive"
                @click.native="toggleTag(tag.name)">
      {{ tag.name }}
    </sui-button>
  </div>
</template>

<script>
/** Renders a list of pill-liked button for activating or deactivating tags
 * @vue-props {Array} tags - List of tags to display, with `isActive` and `name` attributes
 * @vue-event {String} toggleTag - Switch state of tag
 */
export default {
  name: "TagFilter",
  props: ["tags"],
  methods: {
    toggleTag(tag) {
      this.$emit("toggleTag", tag)
    }
  }
}
</script>

<style scoped>
.pill-list {
  padding: 1pt;
  display: inline;
}

.button.toggle.pill {
  padding: 5pt !important;
}

.button.pill.toggle.active {
  background-color: gray !important;
}

.button.pill.toggle.active:hover, .button.pill.toggle:hover {
  background-color: lightgray !important;
}
</style>
